:root {
  --background-color: #323437;
  --main-color: #e2b714;
  --error-color: #ca4754;
  --sub-alt-color: #2c2e31;
  --sub-color: #646669;
  --text-color: #d1d0c5;
  --extra-error-color: #7e2a33;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);

  font-size: 0.875rem;
  font-weight: 400;
}

h1 {
  margin: 0;
  color: var(--text-color);

  font-size: 2rem;
  font-weight: 600;
}

h2 {
  margin: 0;
  color: var(--sub-color);

  font-size: 1.5rem;
}

h3 {
  margin: 0;
  color: var(--sub-color);

  font-size: 1rem;
}

button {
  all: unset;

  color: var(--sub-color);
  cursor: pointer;
}

a {
  color: var(--main-color);
  margin-bottom: 2px;
}

a:hover {
  color: var(--text-color);
  cursor: pointer;
}

a:active {
  color: var(--sub-color);
}

#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#header-title {
  display: flex;
  gap: 12px;
  align-items: center;
}

.toggle-btn-container {
  display: flex;
  gap: 8px;
}

.toggle-btn {
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  height: 32px;
  min-width: 64px;
  padding: 0 20px;
  border-radius: 10px;

  background-color: var(--sub-alt-color);
  color: var(--text-color);

  font-size: 1rem;
  font-weight: 500;

  user-select: none;
}

.toggle-btn.active-btn {
  background-color: var(--main-color);
  color: var(--background-color);
}

.toggle-btn:hover {
  background-color: var(--text-color);
  color: var(--background-color);
}

.toggle-btn:active {
  background-color: var(--sub-color);
}

.toggle-btn:focus {
  outline: 2px solid var(--text-color);
  outline-offset: 2px;
}

.icon {
  height: 32px;
  width: 32px;
}

.logo {
  height: 24px;
  padding-top: 4px;
  user-select: none;
}

.btn {
  margin-bottom: 2px;
}

.btn:hover {
  cursor: pointer;
  color: var(--text-color);
}

.btn:active {
  color: var(--sub-color);
}
