:root {
  --background-color: #323437;
  --main-color: #e2b714;
  --error-color: #ca4754;
  --sub-alt-color: #2c2e31;
  --sub-color: #646669;
  --text-color: #d1d0c5;
  --extra-error-color: #7e2a33;
}

body {
  background-color: var(--background-color);
  color: var(--sub-color);

  font-size: 0.875rem;
  font-weight: 400;
}

h1 {
  margin: 0;

  font-size: 2rem;
}

h2 {
  margin: 0;

  font-size: 1.5rem;
}

h3 {
  margin: 0;

  font-size: 1rem;
}

button {
  all: unset;
}

#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#header-title {
  display: flex;
  gap: 12px;
  align-items: center;
}

.icon {
  height: 24px;
  padding-top: 4px;
}

.btn {
  margin-bottom: 2px;
}

.btn:hover {
  cursor: pointer;
  color: var(--text-color);
}

.btn:active {
  color: var(--sub-color);
}
