.popup-body {
  min-height: 400px;
  width: 700px;
  margin: 24px 24px 12px 24px;
}

#keyboard {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 40px;
}

.disabled {
  opacity: 0.5;
  z-index: 1000;
  pointer-events: none;
}

#global-toggle {
  display: flex;
  gap: 20px;
}

#options {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 24px;
}

#gear-icon {
  height: 32px;
  width: 32px;

  color: var(--sub-color);
  opacity: 75%;

  cursor: pointer;
}

#gear-icon:hover {
  color: var(--text-color);
}

#gear-icon:active {
  color: var(--sub-color);
}

.row {
  display: inline-flex;
  justify-content: center;
  gap: 8px;
}

.key {
  display: flex;
  height: 30px;
  width: 30px;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  padding: 8px;
  border: 2px solid var(--background-color);

  background-color: var(--sub-alt-color);

  cursor: pointer;
}

.key:hover {
  opacity: 0.85;
}

.letter {
  padding-bottom: 2px;

  color: var(--sub-color);

  font-size: 1.25rem;
  font-weight: 500;
}

.spacebar {
  width: 164px;
}

.spacebar .letter {
  font-size: 0.9375rem;
}

.options-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.control-group {
  display: inline-flex;
  padding: 0 10px;
  border-radius: 5px;
  height: 36px;
  width: fit-content;

  background-color: var(--sub-alt-color);
}

.control-group > * {
  padding: 0 10px;
}

.color-controls {
  height: 40px;
  display: flex;
  gap: 20px;
  align-items: center;
}

.color-setting {
  display: flex;
  align-items: center;
  gap: 10px;
  height: 32px;

  color: var(--sub-color);
}

.color-setting label {
  margin-bottom: 2px;

  font-size: 1rem;
  font-weight: 500;
}

.color-picker-wrapper {
  position: relative;
  height: 32px;
  width: 32px;
  border-radius: 9px;

  background-color: var(--sub-alt-color);
}

.color-picker {
  height: 100%;
  width: 100%;

  cursor: pointer;

  opacity: 0;
}

.color-picker::-webkit-color-swatch-wrapper {
  padding: 0;
}

.color-picker::-webkit-color-swatch {
  border: none;
}

.color-picker-icon {
  position: absolute;
  height: 20px;
  top: 6px;
  left: 6px;

  color: var(--sub-alt-color);

  pointer-events: none;
}

.divider {
  border-top: 1px solid var(--sub-color);
  margin-top: 16px;
  opacity: 0.25;
}

#footer {
  display: flex;
  margin: 12px;
  align-items: center;
}

#footer .btn {
  margin: 0px;
}

#footer .center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

#footer .right {
  margin-left: auto;
}
